*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Work Sans;
}

/* similar style */
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
  padding: 20px 25px;
  border: none;
}

/* header styles */
header {
  padding: 50px 230px;
  background: rgba(255, 144, 14, 0.1);
}
/* navbar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}
.nav-link {
  display: flex;
  align-items: center;
}
.nav-link li {
  list-style-type: none;
}
.nav-link li a {
  text-decoration: none;
  margin-left: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

/* nav-banner styles */
.nav-banner {
  margin: 67px auto;
}
.banner-details {
  width: 868px;
  margin: 50px auto;
  text-align: center;
}
.banner-title {
  padding: 0 130px;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #131313;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 32px 0;
}
.banner-logo {
  margin-bottom: 67px;
}
.banner-logo img {
  width: 100%;
}

/* features section styles */
.first-container {
  margin: 31px 270px;
  display: flex;
  align-items: center;
}
.list-images {
  margin-right: 73px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.image {
  width: 280px;
  height: 342px;
  border-radius: 8px;
}
.features-details {
}
.features-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 24px;
}
.features-title .first {
  color: #727272;
}
.features-title .second {
  font-weight: 800;
  color: #131313;
}
.features-title .third {
  color: #ff900e;
}

.features-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.features-btn {
  margin-top: 32px;
}

/* second container */
.second-container {
  position: relative;
  margin: 100px 220px;
  display: flex;
}
.features-info {
  width: 40%;
}
.info-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  padding-left: 15px;
  margin-bottom: 24px;
  position: relative;
  border-left: 5px solid #ff900e;
}
/* .info-title::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  height: 70%;
  width: 5px;
  background: #ff900e;
} */
.info-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}
.feature {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}
.feature .feature-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
  margin-bottom: 10px;
}
.feature-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #727272;
}
.architect-img {
  width: 60%;
  padding-left: 146px;
}
.architect-img img {
  width: 100%;
  height: 90%;
}
.exprience-container {
  display: inline-block;
  margin-top: -110px;
  margin-left: -65px;
  padding: 35px 30px;
  background: #ff900e;
  border-radius: 8px;
}
.exprience-container h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #ffffff;
  text-align: center;
}
.exprience-container p {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

/* architect-info styles */
.architect-info {
  margin: 100px 240px;
}
.architect-info-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 24px;
}
.architect-info-description {
  width: 542px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 50px;
}
.items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220.83px;
  height: 220.83px;
  text-align: center;
  border: 1px solid #ff900e;
  border-radius: 8px;
  transition: 0.3s ease;
}
.item:hover {
  background: #ffd6a781;
  transform: scale(1.1);
  border: 2px solid #ff900e;
}
.item-icon {
  margin-bottom: 10px;
}
.item-amount {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  color: #424242;
}
.item-info {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
}

/* Our-sponsors section style */
.our-sponsors {
  margin: 130px 240px;
}
.sponsors-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  text-align: center;
  margin-bottom: 24px;
}
.sponsors-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  text-align: center;
  max-width: 680px;
  margin-bottom: 50px;
  display: block;
  margin: 0 auto;
}
.sponsors {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sponsor {
  padding: 0 20px;
}

/* footer style */
footer {
  text-align: center;
  margin: 130px 240px;
}
footer h1 {
  background: #fff4e7;
  border-radius: 8px;
  padding: 39px 210px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #424242;
}
/* responsive design for small device*/
@media only screen and (max-width: 576px) {
  header {
    padding: 40px 15px;
  }
  .nav-bar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-bar .nav-title {
    margin: 20px 0;
    font-size: 35px;
    line-height: 20px;
  }
  .nav-link {
    flex-direction: column;
  }
  .nav-link li a {
    margin-left: 0;
  }

  /* banner styles */
  .nav-banner {
    margin: 20px 15px;
  }
  .banner-details {
    width: calc(100% - 30px);
    text-align: left;
  }
  .banner-title {
    padding: 0;
    text-align: left;
    font-size: 23px;
    line-height: 30px;
  }
  .banner-description {
    text-align: justify;
    font-size: 12px;
    margin: 12px 0;
  }
  .banner-btn {
    font-size: 14px;
    padding: 10px 15px;
  }

  /* feature sections style */
  .first-container {
    margin: 30px 15px;
    flex-direction: column-reverse;
  }
  .list-images {
    margin: 30px 0;
    grid-template-columns: 1fr;
  }
  .image {
    width: 100%;
  }
  .features-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .features-description {
    text-align: justify;
    font-size: 10px;
    width: 100%;
  }

  /* second container styles */
  .second-container {
    margin: 30px 15px;
    flex-direction: column;
  }
  .features-info {
    width: 100%;
  }
  .architect-img {
    padding: 0;
    width: 100%;
  }
  .architect-img img {
    display: block;
    margin: 10px auto;
    width: 100%;
  }
  .exprience-container {
    padding: 10px 15px;
    margin-top: -100px;
    margin-left: 0;
  }
  .exprience-container h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
  }
  .exprience-container p {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
  }

  /* architect info section */
  .architect-info {
    margin: 50px 15px;
  }
  .architect-info-title {
    font-size: 30px;
    margin-bottom: 6px;
  }
  .architect-info-description {
    font-size: 12px;
    width: 100%;
  }
  .items {
    flex-direction: column;
  }
  .item {
    margin-bottom: 40px;
  }

  /* sponsors sections styles */
  .our-sponsors {
    margin: 70px 15px;
  }
  .sponsors-title {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .sponsors-description {
    font-size: 12px;
    margin-bottom: 30px;
    width: 100%;
    text-align: justify;
  }
  .sponsors {
    flex-direction: column;
    margin-top: 20px;
  }
  .sponsor {
    padding: 20px 0;
  }
  /* footer style */
  footer {
    margin: 0;
    padding: 0;
  }
  footer h1 {
    border-radius: 0;
    background-color: #727272;
    color: white;
    padding: 40px;
    font-size: 14px;
  }
}
